@using Diary.Extensions
@using Microsoft.Extensions.Configuration

@inject IConfiguration config

@{
    string prefix = config.GetUrlPrefix();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="@(prefix)/favicon.ico">
    @if (ViewBag.Title == null)
    {
        <title>Diary</title>
    }
    else
    {
        <title>@($"Diary - {ViewBag.Title}")</title>
    }
    
    @RenderSection("head", required: false)

    @* This goes in head because it will load in all of our CSS, and we don't want unstyled elements to be shown. *@
    <script src="@(prefix)/@(ViewBag.BundlePrefix ?? "Site").js"></script>
</head>
<body>
    <div class="container@(ViewBag.Unchained ?? false ? " unchained" : "")">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <partial name="_LoginPartial"></partial>
                </ul>
            </nav>
            @Html.ActionLink("Diary", "Index", "Home", routeValues: null, htmlAttributes: new { id="HomeLink", @class = "h3" })
        </div>
        @RenderBody()
        <footer>
            <hr>
            <p>Created by <a href="https://gavin-tech.com/">Gavin Heise</a></p>
        </footer>
    </div>

    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) { }

    @RenderSection("scripts", required: false)
</body>
</html>
